body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    /* grid-template-columns: 25% 200px 25%; */
    /* grid-template-rows: 300px 300px; */
    /* filas/columnas */
    /* grid-template: 300px 100px 100px / repeat(4, 1fr); */
    /* grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr)); */
    grid-template: 300px 100px 100px / minmax(200px, 1fr) 1fr 1fr 1fr;

    /* grid-column-gap: 30px; */
    /* grid-row-gap: 50px; */
    /* filas columnas */
    grid-gap: 10px;
}
.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}
.container > .item:nth-of-type(4){
    background: blue;
    overflow: auto;
    /* Hasta ahora no funcion, lo que haria es heredar de grid */
    /* display: subgrid; */ 
    /* Se tiene que duplicar estas lineas */
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
}
.item .item {
    background: yellow;
}
